<!--Carousel Wrapper-->
                  <div id="carouselPicturesControls" class="carousel slide carousel-multi-item mb-3" data-ride="carousel">

                     <!--Controls-->
                     <a class="carousel-control-prev" href="#carouselPicturesControls" role="button" data-slide="prev">
                        <i class="fas fa-angle-left fa-3x"></i>
                     </a>
                     <a class="carousel-control-next" href="#carouselPicturesControls" role="button" data-slide="next">
                        <i class="fas fa-angle-right fa-3x"></i>
                     </a>
                     <!--/.Controls-->

                     <!--Slides-->
                     <div class="carousel-inner" role="listbox">
                        
                        <!--First slide-->
                        <div class="carousel-item active">
                           
                           <div class="col-md-3 ">
                              <div class="card">
                                 <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(38).jpg" alt="Card image cap">
                              </div>
                           </div>

                           <div class="col-md-3 ">
                              <div class="card">
                                 <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(19).jpg" alt="Card image cap">
                              </div>
                           </div>

                           <div class="col-md-3 ">
                              <div class="card">
                                 <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(42).jpg" alt="Card image cap">
                              </div>
                           </div>

                           <div class="col-md-3 ">
                              <div class="card">
                                 <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(8).jpg" alt="Card image cap">
                              </div>
                           </div>

                        </div>
                        <!--/.First slide-->

                        <!--Second slide-->
                        <div class="carousel-item">
                           
                           <div class="col-md-3 ">
                              <div class="card">
                                 <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(38).jpg" alt="Card image cap">
                              </div>
                           </div>

                           <div class="col-md-3 ">
                              <div class="card">
                                 <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(19).jpg" alt="Card image cap">
                              </div>
                           </div>

                           <div class="col-md-3 ">
                              <div class="card">
                                 <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(42).jpg" alt="Card image cap">
                              </div>
                           </div>

                           <div class="col-md-3 ">
                              <div class="card">
                                 <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(8).jpg" alt="Card image cap">
                              </div>
                           </div>
                           
                        </div>
                        <!--/.Second slide-->

                        <!--Third slide-->
                        <div class="carousel-item">
                           
                           <div class="col-md-3 ">
                              <div class="card">
                                 <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(38).jpg" alt="Card image cap">
                              </div>
                           </div>

                           <div class="col-md-3 ">
                              <div class="card">
                                 <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(19).jpg" alt="Card image cap">
                              </div>
                           </div>

                           <div class="col-md-3 ">
                              <div class="card">
                                 <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(42).jpg" alt="Card image cap">
                              </div>
                           </div>

                           <div class="col-md-3 ">
                              <div class="card">
                                 <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(8).jpg" alt="Card image cap">
                              </div>
                           </div>
                           
                        </div>
                        <!--/.Third slide-->
                           
                     </div>
                     <!--/.Slides-->

                  </div>
                  <!--/.Carousel Wrapper-->