@import url('https://fonts.googleapis.com/css?family=Alice');

html, body {
	font-family: 'Alice', cursive;
	font-weight: 300;
	font-style: normal;
	font-size: 17px;
}

footer {
	min-height: 150px;
	background-color: #222;
}

/*	Цвета Bootstrap	 */
.btn-primary, .bg-primary {
	background-color: #337ab7 !important;
}

.btn-primary, .border-primary {
	border-color: #2e6da4 !important;
}

.btn-primary:hover {
	background-color: #286090 !important;
	border-color: #204d74 !important;
}

.badge-info {
	color: #fff !important;
	background-color: #17a2b8 !important;
}

a.badge-info:focus, a.badge-info:hover {
    color: #fff !important;
    background-color: #117a8b !important;

}

.badge-success {
    color: #fff !important;
    background-color: #28a745 !important;
}

a.badge-success:focus, a.badge-success:hover {
    color: #fff !important;
    background-color: #1e7e34 !important;
}

.badge-primary {
    color: #fff !important;
    background-color: #007bff !important;
}

a.badge-primary:focus, a.badge-primary:hover {
    color: #fff !important;
    background-color: #0062cc !important;
}
/*	Цвета Bootstrap END	 */

/*	Header	*/
nav.navbar {
	background-color: #222 !important; 
	font-size: 120%;
}

nav .navbar-brand {
	height: 50px;
	margin: 0;
	padding: 0;
}

nav .navbar-brand > img {
	height: 100%;
}

nav .collapse {
	justify-content: space-between;
}

.navbar-nav {
	justify-content: space-around;
}

/*.navbar-nav .nav-item {
	width: 25%;
	text-align: center;
}*/

.navbar-nav .nav-link {
	padding: .25rem 0 !important;
	color: rgba(255, 255, 255, .5);
	background-color: transparent;
	border-bottom: .20rem solid transparent;
}

.navbar-nav .nav-link:hover {
	border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-link:hover {
	text-decoration: none;
}

.navbar-nav .active {
	color: #fff;
	border-bottom-color: #fff;
}

nav .profile {
	color: #9d9d9d;
	margin-left: 10px;
}

nav .profile:hover {
	color: #fff;
}
/*	Header END	*/

/*  Footer  */
footer .navbar-brand {
	margin: 0;
}

footer .navbar-brand img {
	max-width: 100%;
}

footer .copyright {
	color: #666;
	text-align: center;
}

footer .footer-menu {
	color: #9d9d9d;
	margin-top: 40px;
	font-size: 20px;
}

footer .navbar-nav {
	display: flex;
	flex-flow: row wrap;
}
/*  Footer END*/

/*	Slider	*/
section.slider {
	background-color: #222 !important; 
}
/*	Slider END	*/

/*	Content	 */
section.main {
	padding-top: 3%;
	background-color: aliceblue;
}

section.main a {
	text-decoration: none;
	color: #333 ;
	font-weight: bold;
}

section.main a:hover {
	color: #fe1b56;
}

.card-group {
	margin-bottom: 20px;
}

.new-series .card-title {
	text-align: center;
}

.new-photo .img-thumbnail {
	width: 24%;
}


.card-deck .card {
	margin-bottom: 20px;
}

.right-block .card-group {
	flex-flow: column wrap;
}

.right-block .card-group {
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
}

.right-block .card {
	border: 0;
	border-bottom: 1px solid rgba(0,0,0,.1);
}

.right-block .card-title {
	font-size: 17px;
}

.card .thumbnail {
	align-self: center;
}

.card a.btn {
	float: right;
	margin-bottom: 1em;
}

.news-list .card {
	transition: 0.4s;
}

/*.news-list .card:hover {
	border-color: #337ab7 !important;
}*/

.news-list .card-deck {
	flex-direction: column;
}

.news-list .card-content {
	display: flex;
	flex-flow: column nowrap;
}

.news-list .card-bottom {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 0.75em 1.25em;
}

.news-list .card-bottom .tags-block {
	text-align: right;
}

.news-list h5 {
	font-weight: bold;
}

.news-list .scale-on-hover:hover {
	transform: scale(1.05);
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15) !important;
	border-color: #337ab7 !important;
}

.news-header hr {
	margin: 0;
}

.news-content, .news-content img, .news-footer {
	margin-bottom: 40px;
}

.news-footer {
	margin-top: 20px;
}

.news-footer .tags-list:before {
	content: 'Теги:';
}

.news-footer .residents-list:before {
	content: 'Участники:';
}

.news-footer .guests-list:before {
	content: 'Гости:';
}

/*	
/*	Content END  */
